/*Icons*/

@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mail.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/phone.css');

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Roboto:wght@300&display=swap');

/*Background Color or Image*/

body {
  background-color: #262833;
}

section {
  width: auto;
  margin: 0px auto;
	
}

/*Logo*/

section h1 {
	font-family: 'Inknut Antiqua';
  font-weight: normal;
    font-style: normal;
  font-size: 36px;
	color: #FEF9F3;
  text-align: center;
	margin-bottom: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
  display: inline-block;
  margin: 10px;
}

/*Navigation Bar*/

nav {
	list-style: none;
	margin: 0px auto;
	width: 100%;
	text-align: center;
    float: left;
	padding: 0px;
		display: inline-block;
}

nav ul {
	text-align: center;
  list-style-type: none;
  overflow: hidden;
	margin: 0px auto;
	display: inline-block;
	
}

nav li {
  float: left;
	width: 180px;
	
}

/*Navigation Bar Text Color*/

nav li a {
	text-align: center;
  display: block;
  padding: 0px 18px;
	color: #FEF9F3;
	font-family: 'Roboto';
  font-weight: normal;
    font-style: normal;
  font-size: 13px;
/*
	border: 2px solid blue;
	color: #D9D7D5;
*/
  text-decoration: none;

}

nav li a:hover {
/*  color: #fff;*/
}


/*Necklaces Dropdown*/

nav ul li a:hover{
/*        color: #fff;*/
        background: #B39D9B;
}

nav ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
         background: #E1DFDD; /*Box Backround Color*/
        display: none;
        padding: 12px;
        z-index: 999;
        left: 0;
	
}

nav ul li:hover ul.dropdown{
        display: inline-block;	/* Display the dropdown */
}

nav ul li:hover ul.dropdown a {
  max-width: 100%;
  display: block; /* Change to block to center the text vertically */
  text-align: center; /* Center the text horizontally */
  line-height: 1.5; /* vertical padding */
}

/*Selections Box*/

nav ul li ul.dropdown li{
        display: block;

		
}




/*Bracelets Dropdown*/

nav ul li a:hover{
        color: #fff;
        background: #A7A9B3;
}

nav ul li ul.dropdown2 {
        min-width: 100%; /* Set width of the dropdown */
        background: #E1DFDD; /*Box Backround Color*/
        display: none;
        padding: 12px;
        z-index: 999;
        left: 0;
	
}

nav ul li:hover ul.dropdown2 {
        display: inline-block;	/* Display the dropdown */
}

nav ul li:hover ul.dropdown2 a {
  max-width: 100%;
  display: block; /* Change to block to center the text vertically */
  text-align: center; /* Center the text horizontally */
  line-height: 1.5; /* Adjust the line height for vertical centering if needed */
}

/*Rings Dropdown*/

nav ul li a:hover{
        color: #fff;
        background: #9D9D99;
}

nav ul li ul.dropdown3 {
        min-width: 100%; /* Set width of the dropdown */
         background: #E1DFDD; /*Box Backround Color*/
        display: none;
        padding: 12px;
        z-index: 999;
        left: 0;
	
}

nav ul li:hover ul.dropdown3 {
        display: inline-block;	/* Display the dropdown */
}

nav ul li ul.dropdown3 li {
        display: inline-block;
		
}

nav ul li:hover ul.dropdown3 a {
  max-width: 100%;
  display: block; /* Change to block to center the text vertically */
  text-align: center; /* Center the text horizontally */
  line-height: 1.5; /* Adjust the line height for vertical centering if needed */
	
	
}


/* Hover Colors */
nav ul li:nth-child(1) a:hover {
  background-color: #B39D9B; /* Replace color1 with your desired color */
}

nav ul li:nth-child(2) a:hover {
  background-color: #A7A9B3; /* Replace color2 with your desired color */
}

nav ul li:nth-child(3) a:hover {
  background-color: #A38F8E; /* Replace color3 with your desired color */
}

nav ul li:nth-child(4) a:hover {
  background-color: #9D9D99; /* Replace color3 with your desired color */
}


@media screen and (max-width: 460px) {
    li {
        width: 100% !important;
        float: none !important;
    }
}