@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mail.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/phone.css');

@font-face {
    font-family: 'castoro_titlingregular';
    src: url('castorotitling-regular-webfont.woff2') format('woff2'),
      url('castorotitling-regular-webfont.ttf') format('truetype'),
         url('castorotitling-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kristiregular';
    src: url('kristi-regular-webfont.woff2') format('woff2'),
         url('kristi-regular-webfont.woff') format('woff'),
		url('kristi-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #262833;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

section h1 {
	font-family: 'Kristi';
  font-weight: normal;
    font-style: normal;
  font-size: 56px;
	color: #D9D7D5;
  text-align: center;
	margin-bottom: 36px;
}


nav {
	text-align: center;
	display: inline-block;
    float: left;
	padding: 0px;
	background-color: #D9D7D5;
	
}

nav ul {
  list-style-type: none;
	border: 2px solid red;
  overflow: hidden;
  background-color: #1C1E26;
	width: 600px;
	margin: 0px auto;
	
}

nav li {
  float: left;
}

nav li a {
	text-align: center;
  display: block;
  padding: 0px 9px;
	font-family: 'Castoro Titling';
  font-weight: normal;
    font-style: normal;
  font-size: 15px;
	border: 2px solid blue;
	color: #D9D7D5;
  text-decoration: none;

}

nav li a:hover {
  background-color: #7E8CE0;
}

@media screen and (max-width: 460px) {
    li {
        width: 100% !important;
        float: none !important;
    }
}