body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEF7F3; /* Updated background color */
    color: #455B5C; /* Updated text color */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400; /* Regular weight */
    color: #455B5C; /* Updated text color for h1 */
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #70CAC5; /* Updated hover color */
    color: black;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
