body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEF7F3; /* Updated background color */
    color: #455B5C; /* Updated text color */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400; /* Regular weight */
    color: #455B5C; /* Updated text color for h1 */
}

nav {
    /* Removed background color */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
    position: relative; /* Required for the underline effect */
}

nav ul li a {
    color: #455B5C; /* Updated text color for links */
    text-decoration: none;
    padding: 1rem;
    display: block;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; /* Thickness of the underline */
    width: 100%;
    background-color: #455B5C; /* Color of the underline */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    /* Removed background color */
    color: #455B5C; /* Updated text color for footer */
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
